# Файлы виртуального окружения
venv/

# Служебные файлы IDE
.vscode/
*.swp
*.swo

# Логи
*.log

# Файлы базы данных
*.sqlite3

# Статические файлы
staticfiles/

# Миграции, создаваемые Django
**/migrations/