# Файлы виртуального окружения
venv/

# Служебные файлы IDE
.vscode/
*.swp
*.swo

# Логи
*.log

# Файлы базы данных
*.sqlite3

# Статические файлы
staticfiles/

# Миграции, создаваемые Django
**/migrations/

# Кеши Python и временные файлы
__pycache__/
*.py[cod]

# Конфигурации окружения
*.env

# Компилированные файлы C
*.so

# Поиск по коду IDE
.idea/
*.iml

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
