<!-- reference_books/templates/reference_books/accounting_periods_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Список учетных периодов</h1>
  <!-- Перебор списка учетных периодов и отображение ссылок на их детали -->
  <ul>
    {% for accounting_period in accounting_periods %}
      <li><a href="{% url 'reference_books_web:accounting_period_detail' accounting_period.pk %}">
        Учетный период: {{ accounting_period.start_date }} - {{ accounting_period.end_date }}
      </a></li>
    {% endfor %}
  </ul>
{% endblock %}
