<!-- reference_books/templates/reference_books/employee_detail.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>{{ employee.get_full_name }}</h1>
  <p>Email: {{ employee.email }}</p>
  <p>Телефон: {{ employee.phone_number }}</p>
  <p>Дата рождения: {{ employee.date_of_birth }}</p>
  <p>Дата найма: {{ employee.date_of_hire }}</p>
  <p>Должность: {{ employee.position }}</p>
  <p>Роль: {{ employee.role }}</p>
  <p>Агент: {{ employee.agent.name }}</p>
  <p>Пункт самовывоза по умолчанию: {{ employee.default_pickup_point.name }}</p>
{% endblock %}
