<!-- templates/reference_books/employee_detail.html -->
{% extends 'base.html' %}

{% block title %}Employee Details{% endblock %}

{% block meta_description %}Details of employee {{ employee.get_full_name }}{% endblock %}
{% block meta_keywords %}employee, details, {{ employee.get_full_name }}{% endblock %}

{% block content %}
    <h2>{{ employee.get_full_name }}</h2>
    <p>Email: {{ employee.email }}</p>
    <p>Position: {{ employee.position }}</p>
    <p>Department: {{ employee.department }}</p>
    
    <a href="{% url 'reference_books:employees_list' %}">Back to Employees List</a>
{% endblock %}
