<!-- templates/reference_books/pickup_points_list.html -->
{% extends 'base.html' %}

{% block title %}Pickup Points List{% endblock %}

{% block meta_description %}List of all pickup points{% endblock %}
{% block meta_keywords %}pickup points, list, reference books{% endblock %}

{% block content %}
    <h2>Pickup Points</h2>
    {% include 'partials/search_form.html' %}

    <ul>
        {% for pickup_point in pickup_points %}
            <li><a href="{% url 'reference_books:pickup_point_detail' pickup_point.id %}">{{ pickup_point.name }}</a> - {{ pickup_point.address }}</li>
        {% endfor %}
    </ul>
{% endblock %}
